<div class="row" style="height:100%; margin:0px; padding-top:32px;">
  <!--<div class="col s12 m6 l6" style="margin-left: -15px">
    <div class="row custom-modal valign-wrapper">
      </div>
  </div>-->
  <div class="col s12 m12 l12">

    <!--<div class="section"></div>-->

    <div class="container center-align">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 0px 20px 0px 20px; border: 1px solid #EEE;">
        <form class="col s12" method="post" [formGroup]="loginForm">
          <div class='row'>
            <div class='col s12'>
            </div>
          </div>
          <div class='row'>
            <div class='input-field col s12'>
              <input id="email" type="email" class="form-control" formControlName="email">
              <label for="email">Email</label>
            </div>
          </div>

          <div class='row'>
            <div class='input-field col s12'>
              <input id="password" type="password" class="form-control" formControlName="pass">
              <label for="password">Password</label>
            </div>
            <label style='float: right;'>
								<span class="indigo-text"> <a (click)="setSignUp('forget')">forget Password!</a></span>
							</label>
          </div>
          <p class="credential center" *ngIf="invalid">Invalid Credentials</p>

          <br/>
          <div class='row'>
            <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo hov' (click)="result()">Login</button>
            <!--<a class="waves-effect waves-light btn width-full" (click)="result()">Login</a>-->
          </div>

          <div class='row center-align'>
            <span class="indigo-text">or signup using</span><br>
            <img src="../../../assets/logo/microsoft_Logo_footer.png" (click)="logIn()" style="cursor:pointer;">
          </div>
          <div class='row center-align'>
            <span class="indigo-text">Not a Member? <a (click)="setSignUp('signup')">Register!</a></span>
          </div>
        </form>
      </div>
    </div>
    <!--</main>-->
  </div>
</div>
