<footer class="page-footer ">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 class="white-text">Acknowledgement</h5>
        <p class="grey-text text-lighten-2">This project has been developed by a team of five members during three months of Orchard Learning Program at Mindtree
          Kalinga. It was impossible to develope the project without great coordination of team members.<br><br> And we as
          a Team Acknowledge the efforts of our three leads, who have helped us at every single step in this project. We also
          Acknowledge effort's of every person who has helped us at any step in developing this project :)
        </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Ferrari F1 Fan Club  &nbsp;&nbsp;&nbsp; || &nbsp;&nbsp;&nbsp;All the images have been taken from <b>Google</b> & <b>Wikipedia</b>
    </div>
  </div>
</footer>
