.rcorners {
    border-radius: 5px 35px 5px 35px;
    background: #fff;
    border: 2px;
    padding:10px; 
}
.material-icons {
    font-size : inherit;
}
a{
    text-decoration: none;
    /*color:b;*/
}
.card{
    margin: 20px 0px 30px 0px;
}