<div class="row">
  <br>
  <div class="col-sm-10 col-sm-offset-1">
    <h4 class="grey-text text-darken-2">Ferrari F1 Club</h4>
    <blockquote>
      <p class="grey-text text-darken-1">
        Step into the motor sport elite through the most exclusive available passes for F1® enthusiasts. Give yourself the chance
        to participate to the Ferrari Formula 1® Club program and gain access to our VIP Hospitality package.</p>
      <br>
      <p class="grey-text text-darken-1">At the Ferrari F1® Club everything is created around you. From a prime location you can watch the race unfold with
        all the drama that Formula F1® offers on and off the track. You can have access to the excitement and glamour of
        the race, in an exclusive and discrete environment ensuring you the sporting experience of a lifetime.</p>
    </blockquote>
  </div>
</div>
