<div class="container">
  <div class="card z-depth-3">
    <div class="card-head">
      <img src="{{logoURL}}" alt="logo" class="card-logo">
      <!--<img src="http://cdn2.bigcommerce.com/server2800/1288d/products/1071/images/4055/18000_Maroon_Model_Front_071710__79841.1420742657.300.300.png?c=2" alt="Shoe" class="product-img">-->
      <img src="{{thumbnailURL}}" alt="{{productDetails.title}}" class="product-img">
      <span class="back-text">
              F1
            </span>
    </div>
    <div class="card-body">
      <div class="product-desc">
        <span class="product-title">
                <b>{{productDetails.title}}</b>
        </span>
        <span class="product-caption">
                {{productDetails.category}}
              </span>
      </div>
      <div class="product-properties">
        <span class="product-size">
                <h4>Size</h4>
                <ul class="ul-size">
                  <li *ngIf="productDetails.size[0].small">S</li>
                  <li *ngIf="productDetails.size[0].medium">M</li>
                  <li *ngIf="productDetails.size[0].large">L</li>
                  <li *ngIf="productDetails.size[0].xlarge">XL</li>
                </ul>
              </span>
        <span class="product-price">
                &#x24;<b> {{productDetails.price}}</b>
                <!--&#8377; 23,453 /-->
              </span>
        <span><a class="btn buy" (click)='buy()'>
                <b> Buy</b>
                <!--&#8377; 23,453 /-->
              </a></span>
      </div>
    </div>
  </div>


  <!--  select prodcut details  -->
  <!--<div id="modal-fan-view" class="modal">
    <div class="row center-align">
      <h5 class="red-text">Select Details Below</h5><br>
      <a class="waves-effect waves-light btn green" (click)="changeSeat()">Confirm</a>
      <br><br>
      <a class="waves-effect waves-light btn red" (click)="closeModal()">Cancel</a> </div>
  </div>
</div>-->
