<div class="header-image valign-wrapper">
  <div style="width:100%">
    <h4 class="white-text center-align">F1 CLUB</h4>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <h4>Ferrari F1 Club</h4>
    <div class="divider"></div>
    <br>
    <div class="row">
      <div class="col s12 m8 l8">
        <p>Ferrari of Fort Lauderdale invite you to feel the experience of driving into the future as the owner of one of the
          world's most exotic automobiles, designed to bring you the many joys of a very special car: the Ferrari. These
          cars are built for speed. Experience how wonderfully it handles when it hits 150 mph on the racetrack or 70 mph
          on the highway. With more than 400 years of experience, we understand how to handle every detail of your special
          purchase.
        </p>
        <p>Part of the thrill of owning a Ferrari is the deep satisfaction of driving a machine that is breathtaking. Become
          a member of the Ferrari family which includes attending our exclusive race track events, road rallies and galas.
          You will also experience what it feels like to be part of an elite club of like-minded individuals who share the
          same passion: The passion of feeling the tremendous power of Ferrari. Consider one of our events as the perfect
          reason for a leisurely drive along the coast.</p>
      </div>
      <div class="col s12 m4 l4">
        <img src="assets/images/ferrari_f1_car.jpg" class="responsive-img materialboxed z-depth-3">
      </div>
    </div>
  </div>
</div>
