<!--<div class="row center-align" style="background-color:#f3f3f3; min-height:300px; padding:20px">

  <div class=" col s12 m4 l4">
    <span class="red-text"><i class="large material-icons" style="font-size:100px;">loyalty</i></span>
    <div class="col s10 offset-s1">
      <h5>Earn Points</h5><br><br>
    </div>
  </div>


  <div class=" col s12 m4 l4">
    <span class="red-text"><i class="large material-icons" style="font-size:100px;">lock_open</i></span>
    <div class="col s10 offset-s1">
      <h5>Boost up your level</h5><br><br>
    </div>
  </div>

  <div class=" col s12 m4 l4">
    <span class="red-text"><i class="large material-icons" style="font-size:100px;">lock_open</i></span>
    <div class="col s10 offset-s1">
      <h5>Boost up your level</h5><br><br>
    </div>
  </div>
</div>
-->

<div class="header-image valign-wrapper desktop-view">
  <div style="width:100%">
    <div class="row center-align">

      <div class=" col s12 m4 l4">
        <span class="red-text"><i class="large material-icons" style="font-size:100px;">people</i></span>
        <div class="col s10 offset-s1 red-text">
          <h5>50+ Users</h5>
        </div>
      </div>


      <div class=" col s12 m4 l4">
        <span class="red-text"><i class="large material-icons" style="font-size:100px;">video_library</i></span>
        <div class="col s10 offset-s1 red-text">
          <h5>100+ Videos</h5>
        </div>
      </div>

      <div class=" col s12 m4 l4">
        <span class="red-text"><i class="large material-icons" style="font-size:100px;">drive_eta</i></span>
        <div class="col s10 offset-s1 red-text">
          <h5>Race Stats since 1950</h5>
        </div>
      </div>
    </div>
  </div>
</div>
