<div>
    <!--<div class="card-image">
        <img src="../../../../../assets/images/helmet.png">
    </div>-->
    <!--<div class="card-stacked">
        <div class="card-content">-->
    <a routerLink="driver_detail/{{driver.driverId}}"><b>{{driver.givenName}}  {{driver.familyName}}</b></a>
    <br><span> {{driver.nationality}} </span>
    <!--</div>
    </div>-->
</div>



<!--<div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    <app-dcard [driver]=""></app-dcard>
</div>
</div>-->