<form [formGroup]="newsForm" id="newsForm" (ngSubmit)="newsUpload(newsForm.value)" enctype="multipart/form-data">
    <div class="field">
        <label for="news Title">
          Title:
        </label>
        <input type="text" name="title" placeholder="News Title" required formControlName="title">
        <div *ngIf="(newsForm.controls.title.invalid && newsForm.controls.title.touched)" class="col s12 small text-danger right">
            News SHould Have Title
        </div>
    </div>
    <div class="field">
        <label for="news Description">
         News Description:
        </label>
        <textarea name="newsDescription" placeholder="News Description" formControlName="newsDescription" required></textarea>
        <div *ngIf="(newsForm.controls.newsDescription.invalid && newsForm.controls.newsDescription.touched)" class="col s12 small text-danger right">
            news SHould Have Description
        </div>
        * Use &lt;br&gt; for Next Line
    </div>
    <div class="field">
        <label for="news Author">
          Author:
        </label>
        <input type="text" name="title" placeholder="News Author" required formControlName="author">
        <div *ngIf="(newsForm.controls.author.invalid && newsForm.controls.author.touched)" class="col s12 small text-danger right">
            News SHould Have Title
        </div>
    </div>
    <div class="field">
        <label for="Image">
        Image:
        </label>
        <input type="file" accept="image/*" id="news" (change)="checknews($event)">
    </div>
    <div class="box center">
        <input type="submit" class="btn" value="Save" [disabled]="!newsForm.valid" id="btn">
    </div>
</form>