<div class='valign-wrapper login'>
  <a class="waves-effect button waves-light btn" (click)="backToLogin()"><span> <i class="material-icons">arrow_back</i></span> LogIn </a>
  <ng-container *ngIf="message">
    <div class='error'>
      <p>{{ msg }}</p>
    </div>
  </ng-container>
</div>
<div class="mainDiv">
  <div *ngIf="!verified">
    <div class="input-field">
      <input id="emailId" type="email" class="validate" [(ngModel)]='email'>
      <label for="emailId">Email</label>
    </div><br>
    <div>
      <a class="waves-effect button waves-light btn" (click)="sendKey()">{{buttonText}}</a>
    </div><br>
    <div *ngIf='keySent'>
      <h6>Your Password reset Key has been sent to your E-mail Address.</h6><br>
      <div class="input-field">
        <input id="key" type="text" [(ngModel)]='key'>
        <label for="key">Enter the Key</label>
      </div>
      <div>
        <a class="waves-effect button waves-light btn verifyButton" (click)='verifyKey()'>Verify Key</a>
      </div><br>
    </div>
  </div>
  <div *ngIf="verified">
    <div class="input-field">
      <input id="pass" type="password" class="validate" (keyup)='validatePassword()' [(ngModel)]='newPassword'>
      <label for="pass">Enter password</label>
    </div>
    <h6 *ngIf='valid' style="color:green;">valid</h6>
    <h6 *ngIf='!valid' style="color:red;">Not valid</h6><br>
    <div class="input-field">
      <input id="confirm" type="password" class="validate" [(ngModel)]='confirmPassword'>
      <label for="confirm">Re-enter password</label>
    </div><br>
    <div>
      <a class="waves-effect button waves-light btn" (click)='setNewPassword()'>Set New Password</a>
    </div><br><br>
  </div>
</div>
