.login {
  /*padding-left: 25%;*/
    padding-top: 5%;  
}
.mainDiv {
    width: 75%;
    padding-left: 25%;
    padding-top: 9%;
}
.button {
    margin-left: 16%;
    background-color: #e04646;
    min-width: max-content;
}
.verifyButton {
  margin-left: 26%;  
}
.error {
    margin-left: 8%;
    padding-left: 3px;
    padding-right: 3px;
    color: red;
    border: solid 2px red;
    border-radius: 10px 10px 10px 9px;
}