<div class="row" style="background-color:#f3f3f3;">
  <h4 class="center-align">Our Team</h4>
  <br><br>

  <div class="col s10 offset-s1 m4 l2 offset-l1 center-align">
    <img src="assets/team/devesh.jpg" style="max-width:150px;" class="responsive-img circle z-depth-5 hoverable">
    <div class="col s12">
      <br>
      <p class="center-align">Devesh Nain</p>
      <p class="center-align des">Developer</p>
      <p class="center-align"><a href="https://www.linkedin.com/in/deveshnain" target="_blank"><img src="assets/logo/linked-in.png" alt="Linked In" class="responsive-img" width="35px"></a></p>
      <br><br>
    </div>
  </div>

  <div class="col s10 offset-s1 m4 l2 center-align">
    <img src="assets/team/sumit.jpg" style="max-width:150px;" class="responsive-img circle z-depth-5 hoverable">
    <div class="col s12">
      <br>
      <p class="center-align">Sumit Dhiman</p>
      <p class="center-align des">Developer</p>
      <p class="center-align"><a href="https://www.linkedin.com/in/sumit-dhiman-388446130" target="_blank"><img src="assets/logo/linked-in.png" alt="Linked In" class="responsive-img" width="35px"></a></p>
      <br><br>
    </div>
  </div>

  <div class="col s10 offset-s1 m4 l2 center-align">
    <img src="assets/team/ravi.jpg" style="max-width:150px;" class="responsive-img circle z-depth-5 hoverable">
    <div class="col s12">
      <br>
      <p class="center-align">Ravi Shankar Dubey</p>
      <p class="center-align des">Developer</p>
      <p class="center-align"><a href="https://www.linkedin.com/in/rsdubey" target="_blank"><img src="assets/logo/linked-in.png" alt="Linked In" class="responsive-img" width="35px"></a></p>
      <br><br>
    </div>
  </div>

  <div class="col s10 offset-s1 m4 l2 center-align">
    <img src="assets/team/kaushik-1.jpg" style="max-width:150px;" class="responsive-img circle z-depth-5 hoverable">
    <div class="col s12">
      <br>
      <p class="center-align">Tupurani Krishna Kaushik</p>
      <p class="center-align des">SDET</p>
      <p class="center-align"><a href="https://www.linkedin.com/in/krishna-kaushik-226a37124/" target="_blank"><img src="assets/logo/linked-in.png" alt="Linked In" class="responsive-img" width="35px"></a></p>
      <br><br>
    </div>
  </div>

  <div class="col s10 offset-s1 m4 l2 center-align">
    <img src="assets/team/sarath.jpg" style="max-width:150px;" class="responsive-img circle z-depth-5 hoverable">
    <div class="col s12">
      <br>
      <p class="center-align">Kunisetty Sarathchandra</p>
      <p class="center-align des">SDET</p>
      <p class="center-align"><a href="https://www.linkedin.com/in/kunisetty-s-01326582" target="_blank"><img src="assets/logo/linked-in.png" alt="Linked In" class="responsive-img" width="35px"></a></p>
      <br><br>
    </div>
  </div>

</div>
